@import './lib/bootstrap';

//@import './bootstrap-features.scss';

@import './variables';
@import './typography';
@import './transitions';
@import './mixins';

@import './utils';
@import './lists';
@import './forms';
@import './buttons';
@import './hamburger';

html, body {
  overflow-x: hidden;
  // font-family: 'Playball', cursive;
  // font-family: 'Merienda One', cursive;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('/static/bg.jpg')
}

main {
  min-height: calc(100vh - 24.5rem);
}

.section-title{
  text-align: center;
  padding: 0 0 2rem 0;
}
