// Colors
// -------------------------------
$primary:                   	#b31818;
$secondary:                   #6E0941;
$color-menus:		              #10131a;
$color-menus-rbga:				  	rgba(16,19,26,.9);
$white:                       #FFFFFF;
$black:                       #000000;
$success:                     #1adb1a;
$error:                       #ff0000;

// Greys
$color-grey:	 					#b6bcc1;
$color-grey-dark:					#626c76;
$grey-light: 					#F8F8F8;
$color-grey-lighter:				#f7f7f7;

// Transitions
// -------------------------------

$main-transition: 0.5s cubic-bezier(0.54, 1.54, 0.38, 0.71);

// Footer
$footer-bg-color:  #333333;
$footer-color: #eee;
